.allProjects {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.project:nth-child(odd) {
    flex-direction: row-reverse;

    .projectDetails {
        text-align: end;

        .actions {
            justify-content: flex-end;
        }
    }
}
.project:not(:last-child)::after {
    content: " ";
    display: none;
    width: 90%;
    margin: 40px auto 30px;
    background-color: var(--clr-primary);
    height: 2px;
    border-radius: 10px;
    align-self: center;
}

@media (max-width: 800px) {
    .project:nth-child(odd) {
        flex-direction: column;
    
        .projectDetails {
            text-align: center;
    
            .actions {
                justify-content: center;
            }
        }
    }
    .project:not(:last-child)::after {
        display: block;
    }
}
