#home {
    margin-bottom: 20px;
    min-height: calc(100vh - 8em);
    min-height: calc(100svh - 8em);
    display: flex;
    align-items: center;
}
#homeBkg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: blur(8px) brightness(0.5);
}
.about {
    flex-direction: column;
    width: clamp(280px, 60%, 640px);
    background-color: transparent;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}
.about h1,
.about p,
.about .about__contact,
.link--icon {
    color: #cdcdff !important;
}
.about .mobileHead {
    font-size: clamp(1.9rem, 1rem + 4vw, 3rem);
}
.about__name {
    color: #33ccff;
}
.about > :nth-child(2) {
    margin-top: 0.4em;
    font-size: clamp(1.2rem, 0.7rem + 2.4vw, 2rem);
    line-height: 1.2;
    color: var(--clr-primary);
    z-index: 1;
    align-self: baseline;
}
.about__contact {
    margin-top: 2.4em;
}
.about .link--icon {
    margin-right: 0.8em;
    font-size: 1.2rem;
}
.about .btn--outline {
    margin-right: 1em;
}
@media (max-width: 600px) {
    #home {
        min-height: calc(100vh - 9em);
        min-height: calc(100svh - 9em);
    }
    .about {
        width: 100%;
    }
    .app .about {
        justify-content: center;
        align-items: center;
    }
}
