@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap");
.app {
    font-family: "Poppins", sans-serif;
    line-height: 1.5;
    color: var(--clr-fg);
    background-color: var(--clr-bg);
    transition: background-color 300ms, color 300ms;
}
.light {
    --clr-bg: #d5c7e6; /* Puxado para o bege */
    --clr-bg-alt: #e2c4ff; /* Alternativa mais clara, também com tom de bege */
    --clr-fg: #555; /* Manter o texto mais escuro */
    --clr-fg-alt: #222222;
    --clr-fg-alt-rgb: 68, 68, 68;
    --clr-primary: #003366; /* Azul mantido para destaque */
    --shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.dark {
    --clr-bg: #3d0075; /* Azul puxado para o violeta/roxo */
    --clr-bg-alt: #5b02ad; /* Alternativa mais clara, também violeta/roxo */
    --clr-fg: #bcbccf; /* Manter o contraste com o fundo */
    --clr-fg-alt: #dbdbff; /* Texto alternativo, mais claro */
    --clr-fg-alt-rgb: 219, 219, 255; /* Texto alternativo, mais claro */
    --clr-primary: #33ccff; /* Azul-violeta para os elementos de destaque */
    --shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
        rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
main {
    max-width: 1100px;
    width: 95%;
    margin: 0 auto;
}
header {
    position: sticky;
    top: 0;
    z-index: 1;
}
section {
    padding-top: 2em;
}
.section {
    margin-top: 3.5em;
}
.section__title {
    text-align: center;
    margin-bottom: 1em;
    text-transform: uppercase;
}
.center {
    display: flex;
    align-items: center;
}
.link {
    color: var(--clr-primary);
    padding: 0 0 0.3em 0;
    position: relative;
}
.link:hover {
    color: var(--clr-primary) !important;
}
.link::before {
    content: "";
    display: inline;
    width: 0%;
    height: 0.2em;
    position: absolute;
    bottom: 0;
    background-color: var(--clr-primary);
    transition: width 0.2s ease-in;
}
.link:hover::before,
.link:focus::before {
    width: 100%;
}
.compact h3 {
    text-shadow: 2px 2px 4px var(--clr-bg);
}
.link--nav {
    color: #bdbddd;
    font-weight: 500;
    cursor: none;
}
.link--icon {
    color: var(--clr-fg);
}
.btn {
    display: block;
    padding: 0.8em 1.4em;
    font-weight: 500;
    font-size: 0.9rem;
    transition: transform 0.2s ease-in-out;
}
.btn--outline {
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    position: relative;
    overflow: hidden;
    z-index: 1;
}
.btn--outline:hover,
.btn--outline:focus {
    color: var(--clr-bg);
}
.btn--outline:before {
    content: "";
    position: absolute;
    background-color: var(--clr-primary);
    right: 100%;
    bottom: 0;
    left: 0;
    top: 0;
    z-index: -1;
    transition: right 0.2s ease-in-out;
}
.btn--outline:hover:before,
.btn--outline:focus:before {
    right: 0;
}
.btn--plain {
    text-transform: initial;
    background-color: var(--clr-bg-alt);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    border: 0;
}
.btn--plain:hover {
    transform: translateY(-4px);
}
.btn--icon {
    padding: 0;
    color: var(--clr-primary);
    transition: 3;
}
.btn--icon:active {
    transform: translateY(-5px);
}
@media (max-width: 600px) {
    .section {
        margin-top: 4em;
    }
}